<!DOCTYPE html>
<html lang=”en”>

<body>
   <p>Hi <%= name %>!</p>
   <p style="display:inline">Please click the <p style="display:inline"><a href=<%= link %></a>here</a></p> to reset your Toronto Blizzard Loyalty password.</p>
   <p>Sincerely,</p>
   <p>The folks at the Toronto Blizzard Web Team</p>
</body>