<!DOCTYPE html>
<html lang=”en”>

<body>
   <p>Hi <%= name %>!</p>
   <p>Please click to <a href="<%= link %>">here</a> reset your password. Please note that this link will expire in 24 hours!</p>
   <p>Sincerely,</p>
   <p>The folks at the Toronto Blizzard Web Team</p>
</body>